/* color palette from <https://github.com/vuejs/theme> */
@import "./noralice.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

:root {
    --color-primary: #0297eb;
    --color-on-primary: #ffffff;
    --color-surface: #f4f9ff;
    --color-surface-variant: #d4e2f3;

    --color-background: #ffffff;
    --color-on-background: #2d4e61;
    --color-accent: #37d0f6;
    --color-on-accent: #ffffff;

    --title1: 4rem;
    --title2: 2.625rem;
    --title3: 1.5rem;
    --title4: 1.3333rem;
    --subtitle1: 1rem;
    --subtitle2: 0.8rem;
    --body1: 0.8rem;
    --body2: 0.8rem;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
