@import "./base.css";

#app {
  font-weight: normal;
  height: 100vh;
}

h2 {
  font-size: var(--title2);
  font-weight: 600;
  color: var(--color-on-background);
}

h3 {
  font-size: var(--title3);
  font-weight: 600;
  color: var(--color-on-background);
}

h4 {
  font-size: var(--title4);
  font-weight: 600;
  color: var(--color-on-background);
}

h5 {
  font-size: var(--subtitle1);
  font-weight: 600;
  color: var(--color-on-background);
}

h6 {
  font-size: var(--subtitle2);
  font-weight: 500;
  color: var(--color-on-background);
}

p {
  font-size: var(--body1);
  font-weight: 500;
  color: var(--color-on-background);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}